/* border box */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*background color for content body*/
body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

/* styling for main header*/
header {
    padding: 0.5% 0.5%;
    background-color: #222532;
    color: #ffffff;
}

/* styling for h1 text within header */
header h1 {
    display: inline-flex;
    font-size: 300%;
    padding: 0.5%, 0.5%;
}

/* The navigation menu */
nav {
    margin-right: 2%;
    padding: 0%;
    float: right;
    text-align: center;
    background-color: #5f688d;
    overflow:hidden;
    display: flex;
  }
  
  /* Navigation links */
  nav a {
    float: left;
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a background color to navigation links on hover */
  .nav a:hover, .subnav:hover .subnavbtn {
    background-color: #6525e4;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #6525e4;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  .subnav:target .subnav-content{
    display: block
  }

  main {
    display: flex;
  }
  
  .aboutme {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #222532;
  }

 .aboutme h2 {
    color: #ffffff;
    font-size: 225%;
    display: block;
    padding: 5%;
 }

 .aboutme h3 {
    color: #ffffff;
    font-size: 150%;
    display: block;
    padding: 5%;
 }

 .aboutme p {
    color: #ffffff;
    font-size: 100%;
    display: block;
 }

 .aboutme img {
    display: flex;
    float: center;
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    padding: 5%;
}

/* A flex-basis of 200px sets the starting width */
/* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
.coreskills{
    border-width: 2px;
    padding: 2%;
  }
.coreskills h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 0 autio;
    color: #222532;
}
.coreskillscomponent{
    margin-bottom: 20px;
    padding: 10px;
    width: auto;
    text-align: center;
    border-width: 1px;
    display: inline-flex;

}
.coreskillscomponent header {
    padding: 20px;
    background: #6525e4;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
  }
 .coreskillscomponent img{
    position: relative;
    display: flex;
    float: left;
    margin-left: 25px;
    object-fit: scale-down;
    max-width: 70%;
    height: auto;
    padding: 5%;
 }

.projects {
    width: 75%;
    display: inline-block;
    margin-right: 20px;
    }
  
.projects header {
      padding: 20px;
      background: #13293d;
      color: #fff;
    }










    /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    /* Styles */
   
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */

  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
  
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
  }
  
  /* iPad 3 (landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPad 3 (portrait) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    /* Styles */
  }
  
  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    /* Styles */
  }
  
  /* iPhone 4 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 4 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 5 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 5 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6 (landscape) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6 (portrait) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6+ (landscape) ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6+ (portrait) ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S3 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S3 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S4 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S4 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S5 (landscape) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S5 (portrait) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }