/* border box */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%
}

/*background color for content body*/
body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
    line-height:1.5;
}

/* styling for main header*/
header {
    padding: 0.5% 0.5%;
    background-color: #222532;
    color: #ffffff;
}

/* styling for h1 text within header */
header h1 {
    display: inline-flex;
    font-size: 4rem;
    padding: 0.5%, 0.5%;
}

/* The navigation menu */
nav {
    margin-right: 2%;
    padding: 0%;
    float: right;
    text-align: center;
    background-color: #5f688d;
    overflow:hidden;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  /* Navigation links */
  nav a {
    float: left;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 2rem;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a background color to navigation links on hover */
  .nav a:hover, .subnav:hover .subnavbtn {
    background-color: #6525e4;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #6525e4;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  .subnav:target .subnav-content{
    display: block
  }

  main {
    display: flex;
  }
  
  .aboutme {
    padding: 10px;
    background-color: #222532;
  }

 .aboutme h2 {
    color: #ffffff;
    font-size: 3.5rem;
    display: block;
    padding: 5%;
    text-align: center;
 }

 .aboutme h3 {
    color: #ffffff;
    font-size: 3rem;
    display: block;
    padding: 5%;
 }

 .aboutme p {
    color: #ffffff;
    font-size: 1.8rem;
    display: block;
 }

 .aboutme img {
    display: flex;
    float: center;
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    padding: 5%;
}

/* Core Skills Column 1*/

.coreskills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

.coreskills h2 {
    display: flex;
    color: #222532;
    padding: 5%;
    font-size: 5rem;
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    margin-inline-start: 40%;
}
.coreskills-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.coreskillscomponent{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    min-height: 100%;
    padding: 2rem;
}

 .coreskillscomponent img{
    display: flex;
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    padding: 5%;
 }

 .coreskillscomponent h2{
    position: absolute;
    z-index: 100;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-size: 1.5rem;
 }

 .coreskillscomponent h2 span {
    color:#ffffff;
    background: #6525e4;
    padding: 10%;
 }

 .coreskillscomponent:hover {
    border-style: dashed;
    border-width: 3px;
    border-color: #6525e4;
  }

  /* under construction images*/
  .coreskills-column-uc {
    flex: 1 0 25%;
    padding: 1rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

  .coreskillscomponent-uc{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    min-height: 100%;
    padding: 2rem;
}

 .coreskillscomponent-uc img{
    display: flex;
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    padding: 5%;
 }

 .coreskillscomponent-uc h2{
    position: absolute;
    z-index: 100;
    margin-block-start: 1.85em;
    margin-block-end: 1.85em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-size: 1.5rem;
 }

 .coreskillscomponent-uc h2 span {
    color:#ffffff;
    background: #36323e;
    padding: 5%;
 }

 .coreskillscomponent-uc:hover {
    border-style: dashed;
    border-width: 3px;
    border-color: #36323e;
  }

footer {
        padding: 0.5%;
        clear: both;
        color: #13293d;
        text-align: center;
        font-size: 100%;
    }

footer h6{
    font-size: 1.5rem;
}

footer a{
    font-size: 1.5rem;
}


  @media screen and (max-width: 770px) {
        
    header {
      display: none;
    }

    .coreskills h2 {
        font-size: 4rem;
    }

    .coreskillscomponent h2{
        display: none ;
    }
    .coreskillscomponent-uc h2{
        display: none;
    }

  }